.footer {
  &__wrapper {
    padding-top: 12px;
    padding-bottom: 11px;
    border-top: 1px solid $color-grey-light;
  }
  &__copyright {
    font-family: $font-secondary;
    color: $color-grey-light;
    text-align: center;
    font-size: 14px;
  }
}
